       <div class="relative flex flex-col bg-white-100  rounded-2xl md:space-y-0 md:m-0 p-2">

        <img
            src="/images/nord-america.jpg"
            alt="Immagine di una città di notte"
            class="md:w-full sm:w-auto xs:w-auto rounded-2xl xs:w-auto "
            
        />
        
        
        <div class="absolute md:z-40 md:bottom-40 p-0 md:mt-20 mr-0 md:ml-12 mb-0 items-center justify-center">
                <p class=" text-4xl text-black font-extrabold justify-center"> una esperienza mozzafiato </p>
                <p class="mt-4 text-white font-bold text-3xl">  </p>
                <p class=" text-white font-bold text-3xl"> il grand canyon </p>
                <button class="w-full mt-6 md:w-auto flex justify-center items-center p-2 px-11 space-x-8 font-regular text-xl font-bold text-gray-700 
                rounded-full  bg-white hover:bg-opacity-90 shadow-sm hover:shadow-lg border transition
                hover:-translate-y-0.5 duration-150"> prenota una guida! </button>


        </div>
    </div>