   
        <div class=" flex flex-col m-6 space-y-10 bg-white-100   md:space-y-0 md:m-0 items-center justify-center">
      <h1 class="text-5xl text-red-600">scopri tutti i nostri itinerari </h1>
            <img
                src="/images/nord america.png"
                alt="Immagine di una città di notte"
                class="md:w-[480px] sm:auto xs:auto md:block rounded-2xl sm:w-auto"
                
            />
            
            <div class="p-0 mt-4 mr-0 align-items-center justify-center">
                
                    <h1 class="font-bold text-center text-2xl text-gray-800"><%= titolo %> </h1>
                    <p class="font-sans text-center text-xl mr-0">a partire da 1200$</p>
                 <p class=" mb-4 font-sans text-lg flex flex-row text-gray-600"><%= paragrafo %><p class="text-black"> </p></p>
                <p class="text-yellow-600 text-center text-3xl font-bold">esplora i nostri itinerari!!</p>
                   


            
            </div>
        </div>