   <div class="margin-top: mt-40">
   <h1 class=" margin-top text-6xl text-center text-red-800">PARTECIPA ORA AL FESTIVAL</h1>
        <div class="relative flex items-center justify-center mt-48 bg-white-100  rounded-2xl md:space-y-0 md:m-0 p-4">

<img src="/images/jazz.jpeg" class="w-full h-full object-cover rounded 2xl md:rounded-2xl">
        
    
        <div class="absolute md:z-60 md:bottom-12 p-0  mr-0  mb-0 text-center items-center justify-center">
                <p class="text-white text-3xl font-bold"><%= titolo %></p>
                

                <a href="jazz"><button class=" mt-6 md:w-auto flex justify-center items-center p-2 px-11 space-x-8 font-regular text-xl font-bold text-gray-700 
                rounded-full  bg-white hover:bg-opacity-90 shadow-sm hover:shadow-lg border transition
                hover:-translate-y-0.5 duration-150"><%= bottone %></button></a>



        </div>
    </div>
    </div>