<div class="relative flex flex-col bg-white-100 shadow-2xl mt-12 md:m-0 items-center justify-center wd-full">


<div class="relative flex flex-col md:flex-row sm:flex-col mt-12 xs-flex-col md:text-start md:items-start">
<div class="flex flex-col md:ml- sm:ml-0 xs:ml-0">
<p class="text-gray-800 text-2xl font-bold mr-24">Iscriviti alla newsletter</p>
<p class="mt-3 text-md">Per te 15% di sconto sul tuo primo viaggio!!</p>
<div class="flex flex-row">
<input 
                        type="text"
                        placeholder="Inserisci la tua email"
                        class="w-96 mt-3 border border-gray-300 p-3 rounded-xl placeholder:font-sans placeholder:font-light "
                        
                        />
                        <button class="bg-black text-white text-center w-14 rounded-xl mt-3 hover:shadow-lg border transition
            hover:-translate-y-0.5 duration-150 font-bold">INVIO</button>
                </div>
                
<p class="text-md"></p>
</div>
<div class="flex flex-col md:ml-32 sm:ml-0 xs:ml-0">
<p class="text-gray-800 text-xl font-bold">Assistenza</p>
<p class="mt-3 text-md">Dashboard assistenza</p>
<p class="mt-1 text-md">Contattaci</p>
<p class="mt-1 text-md">imprevisti</p>
<p class="mt-1 text-md">soluzioni alternative </p>
<p class="mt-1 text-md">servizio babysitting</p>
<p class="mt-1 text-md">Resi Rimborsi</p>
<p class="mt-1 text-md">Pagamenti e Sicurezza</p>
<p class="mt-1 text-md">prenotazuioni</p>
<p class="mt-1 text-md">Sicurezza voli</p>
<p class="mt-1 text-md">Avvisi e richiami</p>
</div>
<div class="flex flex-col md:ml-32 sm:ml-0 xs:ml-0">
<p class="text-gray-800 text-xl font-bold">Informazioni su</p>
<p class="mt-3 text-md">musei</p>
<p class="mt-1 text-md">guide private</p>



</div>
<div class="flex flex-col md:ml-32 sm:ml-0 xs:ml-0">
<p class="text-gray-800 text-xl font-bold">World</p>
<p class="mt-3 text-md">Culture</p>
<p class="mt-1 text-md">scopri il jazz</p>
<p class="mt-1 text-md">la storia del nord america</p>
<p class="mt-1 text-md">la beat generation</p>
<p class="mt-1 text-md">San Francisco</p>
<p class="mt-1 text-md">il Grand Canyon</p>
<p class="mt-1 text-md">Nevada</p>

</div>
<div class="flex flex-col md:ml-32 mb-16 sm:ml-0 xs:ml-0">
<p class="text-gray-800 text-xl font-bold ">Shortcuts</p>
<p class="mt-3 text-md">voli di sola andata</p>
<p class="mt-1 text-md">last minutes</p>
<p class="mt-1 text-md">hotel economici </p>
<p class="mt-1 text-md">mezze pensioni</p>
<p class="mt-1 text-md">pensioni complete</p>
<p class="mt-1 text-md">prima classe</p>
<p class="mt-1 text-md">voli economici </p>
<p class="mt-1 text-md">pensione completa</p>
<p class="mt-1 text-md">voli con scali</p>
<p class="mt-1 text-md">servizio taxi</p>
<p class="mt-1 text-md">servizi</p>
</div>
</div>
<div class="relative flex flex-col md:flex-row sm:flex-col xs:flex-col bg-white  p-6 md:m-0 items-center justify-center w-full">
<img 
    alt=""
    src="/images/ic--baseline-star.png"
    class="w-10 "
/>
<img 
    alt=""
    src="/images/ic--baseline-star.png"
    class="w-10 "
/>
<img 
    alt=""
    src="/images/ic--baseline-star.png"
    class="w-10 "
/>
<img 
    alt=""
    src="/images/ic--baseline-star.png"
    class="w-10  "
/>
<img 
    alt=""
    src="/images/typcn--star-half.png"
    class="w-10  "
/>
    <p class="text-gray-700 font-bold text-lg mr-6 ml-6">4.7/5</p>
    <p class="text-gray-500 font- text-lg mr-72">Valutazione media Feedback su 102 recensioni</p>
<img 
    alt=""
    src="/images/simple-icons--visa.png"
    class="w-12 mr-12 "
/>
<img 
    alt=""
    src="/images/bxl--mastercard.png"
    class="w-12 mr-12 "
/>
<img 
    alt=""
    src="/images/simple-icons--americanexpress.png"
    class="w-12 mr-12"
/>
<img 
    alt=""
    src="/images/simple-icons--discover.png"
    class="w-12 mr-12"
/>
<img 
    alt=""
    src="/images/lineicons--google-pay.png"
    class="w-12 mr-12"
/>
<img 
    alt=""
    src="/images/cib--cc-paypal.png"
    class="w-12 mr-12"
/>

<p class="text-white ml- text-sm sm:text-center xs:text-center">Italia | IT</p>
</div>
<div class="relative flex flex-col md:flex-row sm:flex-col xs:flex-col bg-gray-700  p-6 md:m-0 items-center justify-center w-full">
<p class="text-white text-sm sm:text-center xs:text-center">Copyright 2021-2024 airline S.p.A. All rights reserved</p>
<p class="text-white ml-48 text-sm sm:text-center xs:text-center">Privacy</p> 
<p class="text-white ml-48 text-sm sm:text-center xs:text-center">Cookie</p>
<p class="text-white ml-48 text-sm sm:text-center xs:text-center">Termini e condizioni</p> 
<p class="text-white ml-48 text-sm sm:text-center xs:text-center">Sitemap</p>
<p class="text-white ml-48 text-sm sm:text-center xs:text-center">Italia | IT</p>
<img 
    alt=""
    src="/images/emojione-v1--flag-for-italy.png"
    class="w-10 ml-2"
/>
</div>
</div>