
<nav class="bg-gray-100 ">

  <div class="mx-auto lg:px-8 lg:h-18 md:h-18 sm:h-18 xs:h-18 sm:px-6 xs:px-3 py-3 items-center justify-center  ">
    
      <div class="relative flex flex-row items-center justify-start">
        <div class="flex shrink-0 lg:mr-24 sm:mr-8 xs-mr-2">
     
        </div>
        <div class="hidden ml-auto sm:block">
          <div class="flex space-x-8 lg:ml- sm:mr- xs:mr-auto xs:ml-auto">
           
          <a href="#" class="text-lg block text-gray-700 hover:text-gray-500 hover:rounded-2xl font-bold lg:py-3 md:py-auto  " aria-current="page"><%= voli %></a>
     
      <a href="#" class="text-lg block text-gray-700 px-6 lg:py-3 md:py-auto font-bold  hover:text-gray-500 "><%= hotels %></a>
      <a href="#" class="text-lg block text-gray-700 px-6 lg:py-3  md:py-auto font-bold  hover:text-gray-500  "><%= ristoranti %></a>
      <a href="#" class="text-lg block text-gray-700 px-6 lg:py-3 md:py-auto font-bold  hover:text-gray-500  "><%= itinerari %></a>
    

    
      

          </div>
        </div>
      </div>
    </div>
  </nav>

  