   <div class="flex lg:flex-row md:flex-col sm:flex-col xs:flex-col items-center justift-center ">
        
        <img src="/images/san-francisco.webp " class="lg:w-112 md:w-160 sm:w-160 sm:p-5 "/>
        <div class="absolute md:mt-96  p-8">
            <p class="text-black mt-60 text-4xl font-bold">San Francisco</p>
            <p class="text-black text-2xl font-semibold">Scopri la beat generation!!</p>
        </div>
        <div class="flex flex-col lg:gap-8 md:gap-0 sm:gap-0 xs:gap-0 ">
                                    <div class="absolute p-15 items-center justify-center ">
            <p class="text-black mt-44 text-lg"></p>
            <p class="text-black text-3xl font-bold "> </p><br/><p><p class= "text-1xl font-bold text-yellow-600"> scopri i luoghi più significativi per la beat generation!!</p>
        </div>
            <div class="lg:px-8 md:px-0 sm:px-0 xs:px-0">
        <img class="lg:w-112 md:w-auto sm:w-auto xs:w-auto lg:p-0 sm:p-5" src="/images/caffe-trieste.jpg"/>
                    <div class="absolute p-8 items-center justify-center">
            <p class="text-black mt-66 text-lg">L'imponente</p>
            <p class="text-black text-2xl font-semibold">Golden Gate Bridge</p>
        </div>
        </div>
        <div class="lg:px-8 md:px-0 sm:px-0 xs-px-0">
        <img class="lg:w-112 md:w-auto sm:w-auto xs:w-auto lg:p-0 sm:p-5" src="/images/img.webp"/> 

        </div>
        </div> 
                <div class="flex flex-col lg:gap-6  md:gap-0 sm:gap-0 xs:gap-0">
       
        <img class="lg:w-112 lg:h-46 md:w-auto sm:w-auto xs:w-auto lg:p-0 sm:p-5" src="/images/trenino.jpg"/> 
                        <div class="absolute p-8 items-center justify-center">
            <p class="text-black mt-50 text-lg"></p>
            <p class="text-black text-2xl font-semibold ">scopri i vari tuor guidati <br/> a bordo di spledidi tram</p>
        </div>
        <div class="flex lg:flex-row md:flex-col sm:flex-col xs:flex-col lg:gap-1 md:gap-1 sm:gap-1 xs:gap-1">
         
        </div>
        </div> 
    </div>
    