    <div class="bg-white p-2 flex lg:flex-row sm:flex-col justify-center ">
            <div class="flex flex-col">
            <p class="text-lg  font-bold text-gray-700">ricerca personalizzata</p>
            <p class="text-xs p-0 text-gray-700">Cliccando su "Accetta tutti i cookie", l'utente accetta di memorizzarei cookie sul dispositivo per migliorare
                la navigazione del sito, analizzare l'utilizzo del sito e assistere nelle vostre attività di marketing
            </p>
            </div>
            <p class="text-sm font-bold text-cyan-500 p-3 underline ">Impostazioni cookie</p>
            <p class="text-sm font-bold text-white  p-3 bg-black rounded-4xl">Rifiuta tutti</p>
            <p class="text-sm font-bold text-white lg:mt-0 sm:mt-5 p-3 bg-black rounded-4xl">Accetta tutti i cookie</p>

            <img src="/images/x.png" class=" md:w-13 hidden md:block " />
        </div>